[data-zh]:hover,
[data-en]:hover {
  border-radius: 5px;
  background-color: #b0cbeb55;
}

.lang-tag {
  position: absolute;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #22863a;
  background-color: #e5fbea;
}
